---
import Layout from "../layout/Layout.astro";
import Card from "../components/Card.astro";

import { allPostsQuery } from "../lib/api";

const data = await allPostsQuery();
---

<Layout title="Astro + Wordpress CMS">
  <h1>Astro + Wordpress CMS</h1>

  <div class="container">
    {data.map((post) => <Card post={post} />)}
  </div>
</Layout>
